@page
@model WebBank.Pages.AccountsStateModel
<div class="text-center">
    <h2>Состояние счетов</h2>
    <hr />
    <h3>Системные счета</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Номер</th>
                <th>Наименование</th>
                <th>Валюта</th>
                <th>Дебет</th>
                <th>Кредит</th>
                <th>Сальдо</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.FundAccount.Id</td>
                <td>@Model.FundAccount.Number</td>
                <td>@Model.FundAccount.Name</td>
                <td>@Model.FundAccount.Currency.Notation</td>
                <td>@($"{Model.FundAccount.Debet:f4}")</td>
                <td>@($"{Model.FundAccount.Credit:f4}")</td>
                <td>@($"{Model.FundAccount.Credit - Model.FundAccount.Debet:f4}")</td>
            </tr>
            <tr>
                <td>@Model.CashAccount.Id</td>
                <td>@Model.CashAccount.Number</td>
                <td>@Model.CashAccount.Name</td>
                <td>@Model.CashAccount.Currency.Notation</td>
                <td>@($"{Model.CashAccount.Debet:f4}")</td>
                <td>@($"{Model.CashAccount.Credit:f4}")</td>
                <td>@($"{Model.CashAccount.Debet - Model.CashAccount.Credit:f4}")</td>
            </tr>
        </tbody>
    </table>
    <hr />
    <h3>Клиентские счета</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Номер</th>
                <th>Наименование</th>
                <th>Владелец</th>
                <th>Валюта</th>
                <th>Дебет</th>
                <th>Кредит</th>
                <th>Сальдо</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Accounts.Any())
            {
                @foreach (var account in Model.Accounts)
                {
                    <tr>
                        <td>@account.Id</td>
                        <td>@account.Number</td>
                        <td>@account.Name</td>
                        <td>@Model.FindOwner(account, account.Type == AppCore.Entities.AccountType.Current)</td>
                        <td>@account.Currency.Notation</td>
                        <td>@($"{account.Debet:f4}")</td>
                        <td>@($"{account.Credit:f4}")</td>
                        <td>@($"{account.Credit - account.Debet:f4}")</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="21"><h3>Нет счетов</h3></td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    <h2>Транзакции</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Время</th>
                <th>Сумма</th>
                <th>Валюта</th>
                <th>Номер счета отправителя</th>
                <th>Часть счета отправителя</th>
                <th>Номер счета получателя</th>
                <th>Часть счета получателя</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Transactions.Any())
            {
                @foreach (var transaction in Model.Transactions)
                {
                    <tr>
                        <td>@transaction.Id</td>
                        <td>@transaction.Time</td>
                        <td>@($"{transaction.Amount:f4}")</td>
                        <td>@transaction.Currency.Notation</td>
                        @if (transaction.FromAccount != null)
                        {
                            <td>@transaction.FromAccount.Number</td>
                            <td>@(transaction.FromDebet ? "дебет" : "кредит")</td>
                        }
                        else
                        {
                            <td>-</td>
                            <td>-</td>
                        }
                        @if (transaction.ToAccount != null)
                        {
                            <td>@transaction.ToAccount.Number</td>
                            <td>@(transaction.ToDebet ? "дебет" : "кредит")</td>
                        }
                        else
                        {
                            <td>-</td>
                            <td>-</td>
                        }
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="21"><h3>Нет транзакций</h3></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Footer {
    @Model.SystemDate
    <br />
    <form method="post" class="parent" style="width: 5rem">
        <label for="dateDif" class="child">Число дней для пропуска</label>
        <input id="dateDif" class="form-control child" type="number" name="dateDif" required min="1" value="1" />
        <input type="submit" value="Отправить" class="btn btn-primary child" />
    </form>
}
