@page "{id:int}"
@using WebBank.AppCore.Entities
@model WebBank.Pages.ClientProgramsModel
<div class="text-center">
    <h1 class="text-center">Программы пользователя @Model.ClientName</h1>
    <hr />
    <h3 class="text-center">Депозитные программы</h3>
    <table>
        <thead>
            <tr>
                <th>Название программы</th>
                <th>Процентная ставка</th>
                <th>Внесенная сумма</th>
                <th>Валюта</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
                <th>Тип депозита</th>
                <th>Дата следующего снятия процентов</th>
                <th>Номер текущего счета</th>
                <th>Название текущего счета</th>
                <th>Остаток текущего счета</th>
                <th>Номер процентного счета</th>
                <th>Название процентного счета</th>
                <th>Остаток процентного счета</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Deposits.Any())
            {
                @foreach (var deposit in Model.Deposits)
                {
                    <tr>
                        <td>@deposit.Program.Name</td>
                        <td>@deposit.Program.Percent</td>
                        <td>@deposit.InitialAmount</td>
                        <td>@deposit.Program.Currency.Notation</td>
                        <td>@deposit.StartDate</td>
                        <td>@deposit.EndDate</td>
                        <td>@(deposit.Program.IsRevocable ? "отзывный" : "безотзывный")</td>
                        <td>@((deposit.Program.IsRevocable && deposit.Program.PercentAccessPeriod != null) 
                                ? deposit.LastAccess.AddDays(deposit.Program.PercentAccessPeriod.Value) 
                                : deposit.EndDate)
                        </td>
                        <td>@deposit.CurrentAccount.Number</td>
                        <td>@deposit.CurrentAccount.Name</td>
                        <td>@(deposit.CurrentAccount.Credit - deposit.CurrentAccount.Debet)</td>
                        <td>@deposit.PercentAccount.Number</td>
                        <td>@deposit.PercentAccount.Name</td>
                        <td>@(deposit.PercentAccount.Credit - deposit.PercentAccount.Debet)</td>
                        <td>
                            @if (deposit.Program.IsRevocable)
                            {
                                <div class="parent">
                                    <form method="post">
                                        <button class="child no-border" type="submit" asp-page-handler="delete" 
                                                asp-route-id="@Model.ClientId"
                                                asp-route-depositId="@deposit.Id"
                                                asp-route-creditPage="@Model.CreditPage">
                                            <img src="~/images/recycle-bin.png" alt="Отозвать" class="icon" />
                                        </button>
                                    </form>
                                </div>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="21"><h3>Нет депозитов</h3></td>
                </tr>
            }
        </tbody>

    </table>
    <hr />
    <div class="pagination-container">
        Страницы:
        <a href="/ClientPrograms/@Model.ClientId?depositPage=1&creditPage=@Model.CreditPage" class=@(Model.DepositPage == 1 ? "disabled" : "")>1</a>
        @if (Model.DepositPagesCount > 7)
        {
            if (Model.DepositPage > 4)
            {
                <label>...</label>
                if (Model.DepositPage < Model.DepositPagesCount - 3)
                {
                    for (int i = -1; i <= 1; i++)
                    {
                        <a href="/ClientPrograms/@Model.ClientId?depositPage=@(i + Model.DepositPage)&creditPage=@Model.CreditPage" 
                           class=@(Model.DepositPage == i + Model.DepositPage ? "disabled" : "")>
                            @(i + Model.DepositPage)
                        </a>
                    }
                    <label>...</label>
                }
                else
                {
                    for (int i = Model.DepositPagesCount - 4; i < Model.DepositPagesCount; i++)
                    {
                        <a href="/ClientPrograms/@Model.ClientId?depositPage=@i&creditPage=@Model.CreditPage" 
                           class=@(Model.DepositPage == i ? "disabled" : "")>
                            @i
                        </a>
                    }
                }
            }
            else
            {
                <a href="/ClientPrograms/@Model.ClientId?depositPage=2&creditPage=@Model.CreditPage" 
                   class=@(Model.DepositPage == 2 ? "disabled" : "")>
                    2
                </a>
                for (int i = 3; i <= 5; i++)
                {
                    <a href="/ClientPrograms/@Model.ClientId?depositPage=@i&creditPage=@Model.CreditPage" 
                       class=@(Model.DepositPage == i ? "disabled" : "")>
                        @i
                    </a>
                }
                <label>...</label>
            }
            <a href="/ClientPrograms/@Model.ClientId?depositPage=@Model.DepositPagesCount&creditPage=@Model.CreditPage" 
               class=@(Model.DepositPage == Model.DepositPagesCount ? "disabled" : "")>
                @Model.DepositPagesCount
            </a>
        }
        else
        {
            for (int i = 2; i <= Model.DepositPagesCount; i++)
            {
                <a href="/ClientPrograms/@Model.ClientId?depositPage=@i&creditPage=@Model.CreditPage" 
                   class=@(Model.DepositPage == i ? "disabled" : "")>
                    @i
                </a>
            }
        }
    </div>
    <hr />
    <div>
        <a href="/DepositContract?clientId=@Model.ClientId" class="btn btn-outline-dark" role="button"> Добавить</a>
    </div>
    <hr />
    <h3 class="text-center">Кредитные программы</h3>
    <table>
        <thead>
            <tr>
                <th>Название программы</th>
                <th>Процентная ставка</th>
                <th>Сумма кредита</th>
                <th>Валюта</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
                <th>Тип кредита</th>
                <th>Количество платежей</th>
                <th>Номер текущего счета</th>
                <th>Название текущего счета</th>
                <th>Остаток текущего счета</th>
                <th>Номер процентного счета</th>
                <th>Название процентного счета</th>
                <th>Остаток процентного счета</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Credits.Any())
            {
                @foreach (var credit in Model.Credits)
                {
                    <tr>
                        <td>@credit.Program.Name</td>
                        <td>@credit.Program.Percent</td>
                        <td>@credit.Amount</td>
                        <td>@credit.Program.Currency.Notation</td>
                        <td>@credit.StartDate</td>
                        <td>@(credit.StartDate.AddDays(credit.Program.Period * credit.Program.PaymentCount))</td>
                        <td>@(credit.Program.IsDifferentiated ? "дифференцированный" : "аннуитетный")</td>
                        <td>@credit.Program.PaymentCount</td>
                        <td>@credit.CurrentAccount.Number</td>
                        <td>@credit.CurrentAccount.Name</td>
                        <td>@(credit.CurrentAccount.Credit - credit.CurrentAccount.Debet)</td>
                        <td>@credit.PercentAccount.Number</td>
                        <td>@credit.PercentAccount.Name</td>
                        <td>@(credit.PercentAccount.Credit - credit.PercentAccount.Debet)</td>
                        <td>
                            <div class="parent">
                                <form method="post">
                                    <a class="child" asp-page="CreditSchedule" asp-route-id="@credit.Id">
                                        <img src="~/images/list.png" alt="Просмотреть" class="icon" />
                                    </a>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="21"><h3>Нет кредитов</h3></td>
                </tr>
            }
        </tbody>

    </table>
    <hr />
    <div class="pagination-container">
        Страницы:
        <a href="/ClientPrograms/@Model.ClientId?depositPage=@Model.DepositPage&creditPage=1" class=@(Model.CreditPage == 1 ? "disabled" : "")>1</a>
        @if (Model.CreditPagesCount > 7)
        {
            if (Model.CreditPage > 4)
            {
                <label>...</label>
                if (Model.CreditPage < Model.CreditPagesCount - 3)
                {
                    for (int i = -1; i <= 1; i++)
                    {
                        <a href="/ClientPrograms/@Model.ClientId?depositPage=@Model.DepositPage&creditPage=@(i + Model.CreditPage)" 
                           class=@(Model.CreditPage == i + Model.CreditPage ? "disabled" : "")>
                            @(i + Model.CreditPage)
                        </a>
                    }
                    <label>...</label>
                }
                else
                {
                    for (int i = Model.CreditPagesCount - 4; i < Model.CreditPagesCount; i++)
                    {
                        <a href="/ClientPrograms/@Model.ClientId?depositPage=@Model.DepositPage&creditPage=@i" 
                           class=@(Model.CreditPage == i ? "disabled" : "")>
                            @i
                        </a>
                    }
                }
            }
            else
            {
                <a href="/ClientPrograms/@Model.ClientId?depositPage=@Model.DepositPage&creditPage=2" 
                   class=@(Model.CreditPage == 2 ? "disabled" : "")>
                    2
                </a>
                for (int i = 3; i <= 5; i++)
                {
                    <a href="/ClientPrograms/@Model.ClientId?depositPage=@Model.DepositPage&creditPage=@i" 
                       class=@(Model.CreditPage == i ? "disabled" : "")>
                        @i
                    </a>
                }
                <label>...</label>
            }
            <a href="/ClientPrograms/@Model.ClientId?depositPage=@Model.DepositPage&creditPage=@Model.CreditPagesCount" 
               class=@(Model.CreditPage == Model.CreditPagesCount ? "disabled" : "")>
                @Model.CreditPagesCount
            </a>
        }
        else
        {
            for (int i = 2; i <= Model.CreditPagesCount; i++)
            {
                <a href="/ClientPrograms/@Model.ClientId?depositPage=@Model.DepositPage&creditPage=@i" 
                   class=@(Model.CreditPage == i ? "disabled" : "")>
                    @i
                </a>
            }
        }
    </div>
    <hr />
    <div>
        <a href="/CreditContract?clientId=@Model.ClientId" class="btn btn-outline-dark" role="button"> Добавить</a>
    </div>
</div>

@section Footer {
    @Model.SystemDate
}
