@page
@model WebBank.Pages.CreditProgramModel
<div class="container">
    <h1 class="text-center">Открытие кредита на имя @Model.ClientName</h1>
    <hr />
    <form method="post" class="needs-validation" novalidate>
        <input asp-for="ClientId" value="@Model.ClientId" type="hidden" />
        <div class="text-center">
            <h2>Кредитная программа</h2>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Название</th>
                        <th>Тип</th>
                        <th>Длительность, дни</th>
                        <th>Количество взносов</th>
                        <th>Ставка,<span class="text-nowrap">% годовых</span></th>
                        <th>Валюта</th>
                        <th>Минимальный взнос</th>
                        <th>Максимальный взнос</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.CreditPrograms.Any())
                    {
                        @foreach (var program in Model.CreditPrograms)
                        {
                            <tr>
                                <td><input required class="form-check-input" type="radio" asp-for="ChoosenProgram" value="@program.Id" /></td>
                                <td>@program.Name</td>
                                <td>@(program.IsDifferentiated ? "Дифференцированный" : "Аннуитетный")</td>
                                <td>@program.Period</td>
                                <td>@program.PaymentCount</td>
                                <td>@program.Percent</td>
                                <td>@program.Currency.Notation</td>
                                <td>@($"{program.MinimumPayment:f4}")</td>
                                <td>@($"{program.MaximumPayment:f4}")</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="21"><h3>Нет доступных программ</h3></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <br />
        <div>
            <label asp-for="ContractName">Название счета</label>
            <input class="form-control" asp-for="ContractName" />
        </div>
        <br />
        <div>
            <label asp-for="Amount">Сумма кредита<span class="required-asterisk">*</span></label>
            <input class="form-control" asp-for="Amount" type="number" step=".01" required min="0" value="0" />
        </div>
        <br />
        <div class="text-center">
            <input class="btn btn-outline-dark" type="submit" value="Сохранить" />
        </div>
    </form>
</div>

@section Footer {
    @Model.SystemDate
}