@page "{pageNumber:int?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>Список пользователей</h2>
    <table>
        <tr><th>Имя</th><th>Фамилия</th></tr>
        @foreach (var client in Model.Clients)
        {
            <tr>
                <td>@client.Name</td>
                <td>@client.Surname</td>
                <td>
                    <form method="post">
                        <a asp-page="Edit" asp-route-id="@client.Id">Изменить</a>
                        <button type="submit" asp-page-handler="delete" asp-route-id="@client.Id">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>

    <p>
        <a href="/Index/1">1</a>
        @if(Model.PagesCount > 7)
        {
            if (Model.PageNumber > 4)
            {
                <label>...</label>
                if (Model.PageNumber < Model.PagesCount - 3)
                {
                    for (int i = -1; i <= 1; i++)
                    {
                        <a href="/Index/@(i + Model.PageNumber)">@(i + Model.PageNumber)</a>
                    }
                    <label>...</label>
                }
                else
                {
                    for (int i = Model.PagesCount - 4; i < Model.PagesCount; i++)
                    {
                        <a href="/Index/@i">@i</a>
                    }
                }
            }
            else
            {
                <a href="/Index/2">2</a>
                for (int i = 3; i <= 5; i++)
                {
                    <a href="/Index/@i">@i</a>
                }
                <label>...</label>
            }
            <a href="/Index/@Model.PagesCount">@Model.PagesCount</a>
        }
        else
        {
            for (int i = 2; i <= Model.PagesCount; i++)
            {
                <a href="/Index/@i">@i</a>
            }
        }
    </p>

    <p><a href="/Edit">Добавить пользователя</a></p>
</div>
